@import url(../fonts/onest/stylesheet.css);
/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

span,
a {
  display: inline-block;
}

textarea:focus,
select:focus {
  outline: none;
  -webkit-appearance: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Onest", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #110a28;
  background: #f6f7ff;
  margin: 0;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  gap: 4px;
  margin: 30px 0 40px 0;
}
.breadcrumbs a {
  color: #b6b5b9;
  font-weight: 300;
  font-size: 14px;
}

.title {
  font-size: 48px;
  font-weight: bold;
}
.title span {
  color: #023bff;
}

.desc {
  font-size: 18px;
  font-weight: normal;
  color: #77767a;
}

.btn-primary {
  background: #023bff;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 21px;
  min-width: 200px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  width: fit-content;
  box-shadow: 2px 3px 12px -4px #023bff;
}
.btn-primary:hover {
  background: #002078;
}

.header {
  padding: 30px 0;
  border-bottom: 1px solid #dadae5;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.header-logo__name {
  color: #110a28;
  font-size: 24px;
  font-weight: bold;
}
.header .nav-list {
  display: flex;
  gap: 39px;
}
.header .nav-link {
  color: #110a28;
  transition: all 0.2s ease-in-out;
}
.header .nav-link:hover {
  color: #023bff;
}
.header .media-show {
  display: none;
}
.header .hamburger-btn {
  display: none;
  flex-direction: column;
  gap: 5px;
}
.header .hamburger-btn span {
  width: 30px;
  height: 2px;
  background: #110a28;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.header .hamburger-btn.active span:first-child {
  transform: rotate(45deg);
  top: 7px;
}
.header .hamburger-btn.active span:nth-child(2) {
  opacity: 0;
}
.header .hamburger-btn.active span:last-child {
  transform: rotate(-45deg);
  top: -7px;
}

.footer {
  padding: 40px 0 43px 0;
  background: #fff;
  color: #110a28;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer ul a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #110a28;
}
.footer h4 {
  font-size: 20px;
  font-weight: 600;
}
.footer-left {
  display: flex;
  align-items: stretch;
  gap: 127px;
}
.footer-left > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.footer nav {
  display: flex;
  gap: 75px;
}
.footer-right {
  display: flex;
  gap: 12px;
}

@keyframes fade {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-60%);
  }
}
.home-page header {
  border: none !important;
}

.intro .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  position: relative;
  z-index: 1;
}
.intro-content {
  padding: 120px 0;
  max-width: 845px;
  width: 100%;
  background: url(../../images/intro-bg-gradient.png) no-repeat;
  background-size: cover;
  background-position: top center;
}
.intro-content__title {
  font-size: 60px;
  font-weight: bold;
}
.intro-content__desc {
  font-size: 24px;
  margin: 81px 0 90px 0;
  max-width: 420px;
}
.intro-content .btn-primary {
  height: 50px;
  border-radius: 25px;
}
.intro-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -84px;
  z-index: -1;
  animation: fade 3s ease-in-out infinite alternate;
}

.about-us {
  background: #fff;
  padding: 77px 0;
}
.about-us .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.about-us__img {
  margin-right: 34px;
  transform: translateX(-30px);
}
.about-us__coins-img {
  transform: translateX(30px);
}
.about-us__content {
  max-width: 555px;
  width: 100%;
}
.about-us__content .title {
  margin-bottom: 50px;
}

.our-advantages {
  padding: 100px 0 110px 0;
}
.our-advantages__cards {
  margin-top: 90px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  position: relative;
  z-index: 1;
  background: url(../../images/works-gradient.png) no-repeat;
  background-position: center;
}
.our-advantages__cards::before {
  content: "";
  position: absolute;
  bottom: 130px;
  left: -67px;
  background: #c7d3ff;
  filter: blur(29px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: -1;
  animation: fade 0.7 ease-in-out infinite alternate;
}
.our-advantages__cards::after {
  content: "";
  position: absolute;
  top: 130px;
  right: -67px;
  background: rgba(255, 216, 31, 0.5607843137);
  filter: blur(29px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: -1;
  animation: fade 0.7s ease-in-out infinite alternate;
}
.our-advantages__card {
  text-align: center;
  padding: 50px 36px 56px 36px;
  border-radius: 12px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 3px 22px -3px rgba(0, 0, 0, 0.07);
}
.our-advantages__card img {
  margin: 0 auto 50px auto;
}
.our-advantages__card > div {
  min-height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-advantages__card > div p {
  min-height: 90px;
}
.our-advantages__card-title {
  font-size: 24px;
  font-weight: 600;
}

.calculate-income {
  padding: 98px 0 124px 0;
  background: #fff;
  /* Range slider styling */
  /* Track for the range slider */
}
.calculate-income .title-info {
  margin: 37px 0 60px 0;
  font-size: 20px;
  color: #77767a;
}
.calculate-income__boxes {
  display: flex;
  gap: 30px;
  align-items: stretch;
}
.calculate-income__boxes .calculate-box {
  border: 1px solid #023bff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  max-width: 585px;
  width: 100%;
  gap: 18px;
  align-items: stretch;
}
.calculate-income__boxes .calculate-box .left-box {
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}
.calculate-income__boxes .calculate-box .right-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.calculate-income__boxes .calculate-box .card {
  width: 100%;
  padding: 14px 20px;
  background: #fff;
  box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.calculate-income__boxes .calculate-box .card span {
  color: #c1c3d2;
  font-size: 14px;
  font-weight: 300;
}
.calculate-income__boxes .calculate-box .card h4 {
  font-size: 18px;
  font-weight: 600;
  color: #110a28;
  margin-top: 6px;
}
.calculate-income__boxes .calculate-box .statistiks-img {
  width: 100%;
  height: 115px;
}
.calculate-income__boxes .calculate-box .dedline-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.calculate-income__boxes .calculate-box .dedline-box h5 {
  font-size: 16px;
  font-weight: 400;
}
.calculate-income__boxes .calculate-box .dedline-box .dedline-count {
  color: #c1c3d2;
  font-size: 16px;
}
.calculate-income .slider-container {
  position: relative;
  width: 100%;
  height: 20px;
}
.calculate-income input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: 3px 5px 14px 4px rgba(0, 0, 0, 0.07);
}
.calculate-income input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  z-index: 10;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: 5px solid #053dfd; /* Oq dumaloq chegarani berish uchun */
}
.calculate-income .slider-container {
  z-index: 1;
}
.calculate-income input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #053dfd;
  cursor: pointer;
}
.calculate-income .track {
  position: absolute;
  top: 8px;
  height: 10px;
  background-color: #053dfd;
  border-radius: 5px 0 0 5px;
}
.calculate-income__right-box {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.07);
  background: #fff;
}
.calculate-income__right-box h3 {
  font-size: 24px;
  font-weight: bold;
}
.calculate-income__right-box .desc {
  margin-top: 30px;
  max-width: 520px;
}

.reviews {
  padding: 98px 0 100px 0;
}
.reviews-title__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 83px;
}
.reviews-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
  gap: 30px;
  background: url(../../images/works-gradient.png) no-repeat;
  background-position: center;
  background-size: contain;
}
.reviews-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
}
.reviews-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews-card .user-box {
  display: flex;
  align-items: center;
  gap: 14px;
}
.reviews-card .user-box .user-icon {
  width: 40px;
  height: 40px;
  background: #023bff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.reviews-card .user-box .user-name {
  font-weight: 20px;
  font-weight: 500;
}
.reviews-card .desc {
  padding: 30px 0 34px 0;
}
.reviews-date {
  font-size: 14px;
  color: #a3a3a4;
}

.faq {
  padding: 100px 0 97px 0;
  background: #fff;
}
.faq .title {
  text-transform: uppercase;
  margin-bottom: 93px;
}
.faq-boxes {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.faq-img {
  max-width: 430px;
  width: 100%;
  height: 430px;
}
.faq .accordions {
  max-width: 690px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: url(../../images/works-gradient.png) no-repeat;
  background-position: center;
}
.faq .accordions .accordion {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.07);
}
.faq .accordions .accordion-icon {
  transition: all 0.2s ease-in-out;
}
.faq .accordions .accordion-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq .accordions .accordion-header > div {
  display: flex;
  gap: 22px;
  align-items: center;
}
.faq .accordions .accordion-header > div .question-icon {
  background: #023bff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.faq .accordions .accordion-header.active .accordion-icon {
  transform: rotate(180deg);
}
.faq .accordions .accordion-title {
  font-size: 20px;
  font-weight: 600;
}
.faq .accordions .accordion-body {
  padding-top: 17px;
  border-top: 1px solid #f3f3f6;
  margin-top: 20px;
  display: none;
  flex-direction: column;
  gap: 30px;
}
.faq .accordions .accordion-body.active {
  display: flex;
}

.news {
  padding: 100px 0;
}
.news-title__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.news-title__box .all-news {
  color: #023bff;
  font-size: 18px;
}
.news-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
  background: url(../../images/works-gradient.png) no-repeat;
  background-position: center;
  background-size: contain;
}
.news-card {
  background: #fff;
  box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-card img {
  border-radius: 12px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.news-card .news-title {
  margin: 34px 0;
  font-size: 20px;
  font-weight: 600;
}
.news-card .read-more__btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #023bff;
  color: #fff;
  border-radius: 8px;
}

.news-page .news {
  padding-top: 0;
}
.news-page .news-title__box {
  margin-bottom: 60px;
}
.news-page .paginations {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 60px;
}
.news-page .paginations button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  color: #212121;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.07);
}
.news-page .paginations button:hover, .news-page .paginations button.active {
  background: #023bff;
  color: #fff;
}

.simple-staking__page .intro-content {
  max-width: 585px;
}
.simple-staking__page .intro-content h3 {
  margin: 60px 0 30px 0;
  font-weight: 500;
  font-size: 24px;
}
.simple-staking__page .intro-content__info {
  font-size: 20px;
  font-weight: normal;
  color: #77767a;
}
.simple-staking__page .intro-img {
  max-width: 526px;
  height: 360px;
  top: 54%;
}
.simple-staking__page .our-advantages__card > div {
  min-height: 188px;
}
.simple-staking__page .our-advantages__cards::before {
  background: #c4f5ec;
}
.simple-staking__page .our-advantages__cards::after {
  background: #c8ebfb;
}
.simple-staking__page .our-advantages .info-text {
  font-size: 20px;
  color: #77767a;
  margin-top: 70px;
}

.staking-calculator {
  padding: 113px 0;
  background: #fff;
}
.staking-calculator .title {
  margin-bottom: 60px;
}
.staking-calculator .desc {
  margin-top: 30px;
  font-size: 24px;
  color: #110a28;
}
.staking-calculator .desc:first-child {
  margin-top: 0;
}

.works {
  padding: 100px 0 119px 0;
  background: url(../../images/works-gradient.png) no-repeat;
  background-position: center;
}
.works-boxes {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.works-box {
  display: flex;
  align-items: center;
  gap: 56px;
}
.works-box__title {
  font-size: 24px;
  font-weight: bold;
}
.works-box__desc {
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}
.works-box__img {
  min-width: 100px;
  max-width: 100px;
}
.works-info {
  font-size: 18px;
  font-weight: 300;
  color: #77767a;
  margin-top: 80px;
}
.works-info b {
  color: #110a28;
}

.news-two {
  margin-bottom: 100px;
}
.news-two .container {
  background: #fff;
  padding: 20px 20px 58px 20px;
  border-radius: 12px;
  display: flex;
  gap: 30px;
  align-items: start;
  box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.07);
}
.news-two .left-box {
  max-width: 790px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.news-two .left-box .info-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news-two__title {
  font-size: 36px;
  font-weight: bold;
}
.news-two .lasted-news {
  background: #f4f5f7;
  padding: 30px;
  border-radius: 12px;
  min-width: 335px;
}
.news-two .lasted-news__info-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 34px;
}
.news-two .lasted-news__boxes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news-two .lasted-news__date {
  font-weight: 300;
  font-size: 14px;
  color: #b6b5b9;
}
.news-two .lasted-news__title {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

@media screen and (max-width: 1250px) {
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .news-two .left-box {
    max-width: 600px;
  }
}
@media screen and (max-width: 1065px) {
  .header {
    padding: 20px 0;
  }
  .header .btn-primary {
    display: none;
  }
  .header .btn-primary.media-show {
    display: flex;
  }
  .header .hamburger-btn {
    display: flex;
  }
  .header nav {
    position: fixed;
    top: 80px;
    left: -100%;
    height: 100%;
    z-index: 999;
    background: #f6f7ff;
    width: 100%;
    padding: 30px;
    transition: all 0.2s ease-in-out;
  }
  .header nav.show {
    left: 0;
  }
  .header nav ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .intro-image {
    position: unset;
    transform: none;
    animation-name: media-fade;
  }
  .intro .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .intro-content__desc {
    margin: 30px auto;
  }
  .intro-content .btn-primary {
    margin: 0 auto;
  }
  .intro-content {
    max-width: 100%;
  }
  .intro-content__title {
    font-size: 50px;
  }
  @keyframes media-fade {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50px);
    }
  }
  .about-us .container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .about-us__img,
  .about-us__coins-img {
    transform: none;
    margin: 0;
  }
  .calculate-income__boxes {
    flex-direction: column;
  }
  .calculate-income__boxes .calculate-box {
    max-width: 100%;
  }
  .reviews-title__box {
    flex-wrap: wrap;
    gap: 30px;
  }
  .faq-boxes {
    flex-direction: column;
    row-gap: 30px;
  }
  .faq-img {
    margin: 0 auto;
    object-fit: contain;
  }
  .faq .accordions {
    max-width: 100%;
  }
  .footer-left {
    flex-direction: column;
    gap: 30px;
  }
  .footer .container {
    align-items: end;
  }
  .footer nav {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .news-two .container {
    flex-direction: column;
  }
  .news-two .left-box,
  .news-two .lasted-news {
    max-width: 100%;
    width: 100%;
  }
  .news-two .container {
    margin: 0 20px;
  }
}
@media screen and (max-width: 650px) {
  .faq .accordions .desc {
    font-size: 14px;
  }
  .faq .title {
    margin-bottom: 30px;
  }
  .faq .accordions .accordion-title {
    font-size: 15px;
  }
  .faq .accordions .accordion-header > div .question-icon {
    min-width: 40px;
  }
  .faq .accordions .accordion-header > div {
    gap: 10px;
  }
  .header .nav-list {
    align-items: center;
  }
  .intro-content__title {
    font-size: 35px;
  }
  .intro-content {
    padding: 50px 0;
  }
  .intro-content__desc {
    font-size: 20px;
  }
  .intro-image {
    width: 90%;
  }
  .intro-image img {
    width: 100%;
  }
  .about-us {
    padding: 50px 0;
  }
  .about-us__content .title {
    margin-bottom: 30px;
  }
  .about-us__img,
  .about-us__coins-img {
    width: 80%;
  }
  .our-advantages {
    padding: 50px 0;
  }
  .our-advantages__cards {
    margin-top: 50px;
  }
  .title {
    font-size: 35px;
  }
  .our-advantages__card {
    padding: 30px 20px 20px 20px;
  }
  .our-advantages__card > div {
    min-height: 200px;
  }
  .our-advantages__cards {
    grid-template-columns: 1fr;
  }
  .calculate-income {
    padding: 50px 0;
  }
  .calculate-income .title-info {
    margin: 30px 0;
  }
  .calculate-income__right-box {
    padding: 20px;
  }
  .calculate-income__boxes .calculate-box {
    flex-direction: column;
  }
  .calculate-income__boxes .calculate-box .left-box {
    max-width: 100%;
  }
  .calculate-income__boxes .calculate-box .statistiks-img {
    width: fit-content;
  }
  .reviews-title__box {
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .reviews {
    padding: 50px 0;
  }
  .faq {
    padding: 50px 0;
  }
  .faq-img {
    height: auto;
  }
  .news-cards {
    grid-template-columns: 1fr;
  }
  .news-card .news-title {
    margin: 20px 0;
  }
  .news {
    padding: 50px 0;
  }
  .news-title__box {
    margin-bottom: 50px;
  }
  .news-page .news-title__box {
    margin-bottom: 30px;
  }
  .breadcrumbs {
    margin: 30px 0;
  }
  .news-two__title {
    font-size: 25px;
  }
  .news-two .left-box {
    gap: 30px;
  }
  .news-two .left-box .desc {
    font-size: 16px;
  }
  .news-two .lasted-news {
    min-width: auto;
    padding: 20px;
  }
  .news-two .lasted-news__info-title {
    margin-bottom: 30px;
  }
  .news-two .container {
    padding: 20px;
  }
  .news-two {
    margin-bottom: 50px;
  }
  .simple-staking__page .intro-content h3 {
    margin: 30px 0;
  }
  .works {
    padding: 50px 0;
    text-align: center;
  }
  .works-boxes {
    margin-top: 50px;
    gap: 30px;
  }
  .works-box {
    flex-direction: column;
    gap: 30px;
  }
  .works-info,
  .simple-staking__page .our-advantages .info-text {
    margin-top: 50px;
    text-align: center;
  }
  .staking-calculator {
    padding: 50px 0;
  }
  .staking-calculator .title {
    margin-bottom: 50px;
  }
  .staking-calculator .desc {
    font-size: 20px;
  }
  .simple-staking__page .our-advantages .title {
    text-align: center;
  }
  .faq .accordions .accordion-body {
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .footer * {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
  .title {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
