// Onest font:
@import url(../fonts/onest/stylesheet.css);
/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}
span,
a {
  display: inline-block;
}

textarea:focus,
select:focus {
  outline: none;
  -webkit-appearance: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Onest', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #110a28;
  background: #f6f7ff;
  margin: 0;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  gap: 4px;
  margin: 30px 0 40px 0;
  a {
    color: #b6b5b9;
    font-weight: 300;
    font-size: 14px;
  }
}
