// header start
.header {
  padding: 30px 0;
  border-bottom: 1px solid #dadae5;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  &-logo {
    display: flex;
    align-items: center;
    gap: 11px;

    &__name {
      color: #110a28;
      font-size: 24px;
      font-weight: bold;
    }
  }
  .nav {
    &-list {
      display: flex;
      gap: 39px;
    }
    &-link {
      color: #110a28;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #023bff;
      }
    }
  }
  .media-show {
    display: none;
  }
  .hamburger-btn {
    display: none;
    flex-direction: column;
    gap: 5px;
    span {
      width: 30px;
      height: 2px;
      background: #110a28;
      position: relative;
      transition: all 0.2s ease-in-out;
    }

    &.active {
      span {
        &:first-child {
          transform: rotate(45deg);
          top: 7px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
          top: -7px;
        }
      }
    }
  }
}
// header end
